<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.musinsa.mapper.ScrollMapper">



	<select id="topList" resultType="com.example.musinsa.model.Top">
		select * from top
	</select>

	<select id="pantsList" resultType="com.example.musinsa.model.Pants">
		select * from pants
	</select>

	<select id="outfitList" resultType="com.example.musinsa.model.Outfit">
		select * from outerwear
	</select>

</mapper>